body{
    background-color: #4d91e2;
}
#wrapper{
    width: 750px;
    height: 350px;
    background-color: yellow;
    margin-top: 120px;
    margin-left: 220px;
}
#btn
{
    background-color: red;
    color: #fff;
    padding: 12px;
    border-style: none;
    font-weight: bold;
    width: 100px;
}
#number1{
    padding: 10px;
    border: 1px solid green;
    font-size: 30px;
}
#number2{
    padding: 10px;
    border: 1px solid green;
    font-size: 30px;
}
input{
    border: 1px solid blue;
}